@import './core/reset';
@import './core/variables';
.logo{
    height: 300px;

}
.title__box{
    display: flex;
    justify-content: center;
    
    
}
.search__box{
display: flex;
justify-content: center;

}

  
 

.inside__search__box{
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        margin-block: 50px;
        gap: 20px;
    }
    


.form_house{
    display: flex;
}
.search__title{
    font-size: 20px;
    color: rgb(83, 21, 21);
    
    
}
.input{
    width: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #5f4a20;
  background-color: #104134;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 20px;
  color: white;
  margin: 5px;
}
.page{
    background-color: cadetblue;
    min-height: 100vh;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-inline: 35px;
    
    
}

.card{
    max-width: 100%;
    width: 300px;
}

.detail__container {
    display: flex;
    
    margin-top: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #630000;
    padding: 20px;
    border-radius: 8px;}

.roll__detail{
    display: flex;
    
    gap: 300px;
    border-radius: 8px;
    margin-right: 20px;
}
.link__back{
    margin-left: 75%;
}
.roll__info__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.roll__info{

    color:#fff;
}